<mat-toolbar color="primary">
    <span>Mis Mapas</span>
</mat-toolbar>
<div class="main-container">
    <app-mapa></app-mapa>
</div>

<!-- <section class="main-container">
    <button
        mat-raised-button
        class="m-3"
        color="primary"
        aria-label="Example icon button with a delete icon"
    >
        Raised
    </button>

    <button
        mat-button
        class="m-3"
        color="primary"
        aria-label="Example icon button with a delete icon"
    >
        Default
    </button>

    <button
        mat-fab
        class="m-3"
        color="accent"
        aria-label="Example icon button with a bookmark icon"
    >
        <mat-icon>bookmark</mat-icon>
    </button>

    <button
        mat-icon-button
        class="m-3"
        color="warn"
        aria-label="Example icon button with a home icon"
    >
        Mat Icon B
    </button>

    <button
        mat-stroked-button
        class="m-3"
        disabled
        aria-label="Example icon button with a heart icon"
    >
        <mat-icon>favorite</mat-icon>
    </button>

    <mat-divider></mat-divider>
</section> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
